@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }

  /* Custom Modern Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full transition-colors;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}
